<h2 class="header">Add User Skills</h2>
 
 
  <label for="skills" class="email" style="color: white;margin-top: 20px;margin-right: 200px;margin-left: 50px;">Skills</label>
<div class="list-group-item">
  <div *ngFor="let skill of skills">
    <input type="checkbox"  style="margin-left: 190px;margin-top: 1px;" [checked]="selectedSkills.includes(skill.skillName)" id="skills"  (change)="NameChange(skill.id,skill.skillName,$event)">
    <label for="skills" style="color: white;">{{ skill.skillName }}</label>
  </div>
</div>
 
 
  <!-- Add more input fields or content as needed -->
 
  <button (click)="updateUsers()" mat-button style="margin-top: 20px;margin-left: 180px;">Submit</button>