
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <div>
    
    <img src="../../assets/MicrosoftTeams-image.png" style="width: 176px;" class="img" />
  
  </div>
 
  <div class="navbar" id="nav">
    
    <div class="navbar-brand" >
    
      <ul class="navbar-nav ml-auto">
     
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToComponent('/manager-user')">
            
            <i class="fas fa-user" id="usericon" ></i> 
          </a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">
            <i class="bi bi-box-arrow-right" id="usericon"></i>
          </a>
          
        </li>
      </ul>
    </div>
  </div>
  <div>
    <p id="header">Project/Skills Updation</p>
    
  </div>
  <button mat-button class="add" (click)="openPopup()">Addnew</button>
  <!-- <link rel="manager-page.component.css" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
   
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script> -->



<div>
  
  <table id="usersTable" class="table table-striped table-bordered" datatable [dtOptions]="dtOptions">
    
    
    <thead>
      <tr>
        <th>Project</th>
        <th>Project Status</th>
        <th>Related Skills</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through projects and skills -->
      
      <tr *ngFor="let project of projects; let i = index">
        <td>
          <!-- <select id="projects_{{i}}" [(ngModel)]="userProjects[project.pro_id]" (ngModelChange)="onNameChange(project.pro_id, $event)">
            <option *ngFor="let proj of projects" [value]="proj.pro_id">{{ proj.proName }}</option>
          </select> -->
          {{ project.proName }}
        </td>
        <td>
          <!-- <select id="projects_{{i}}" [(ngModel)]="userProjects[project.pro_id]" (ngModelChange)="onNameChange(project.pro_id, $event)">
            <option *ngFor="let proj of projects" [value]="proj.pro_id">{{ proj.proName }}</option>
          </select> -->
          {{ project.pro_status }}
        </td>
        <td>
          <!-- <select id="projects_{{i}}" [(ngModel)]="userProjects[project.pro_id]" (ngModelChange)="onNameChange(project.pro_id, $event)">
            <option *ngFor="let proj of projects" [value]="proj.pro_id">{{ proj.proName }}</option>
          </select> -->
          {{ project.proName }}
        </td>
        <td>
          <button class="up" (click)="update(project.pro_id)">Update</button>
          <button class="up" (click)="delete(project.pro_id)">Delete</button>
          <!-- You can add other actions as needed -->
        </td>
      </tr>
    </tbody>
  </table>
  
  </div>

  
  
  
  
